#
# {{ ansible_managed }}
#
{% if multiple_ssh_pub_key_locations is defined  %}
{% for key in multiple_ssh_pub_key_locations %}
{{ lookup('file', key) }}
{% endfor %}
{% else %}
{{ lookup('file', ssh_pub_key_location) }}
{% endif %}
